<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{{ path('default_index') }}">Actunews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown text-dark">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Catégorie
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path("default_category", {"alias" : "politique"}) }}">Politique</a>
                        <a class="dropdown-item" href="{{ path("default_category", {"alias" : "economie"}) }}">Economie</a>
                        <a class="dropdown-item" href="{{ path("default_category", {"alias" : "social"}) }}">Social</a>
                        <a class="dropdown-item" href="{{ path("default_category", {"alias" : "sante"}) }}">Santé</a>
                        <a class="dropdown-item" href="{{ path("default_category", {"alias" : "culture"}) }}">Culture</a>
                        <a class="dropdown-item" href="{{ path("default_category", {"alias" : "loisirs"}) }}">Loisirs</a>
                        <a class="dropdown-item" href="{{ path("default_category", {"alias" : "sports"}) }}">Sports</a>
                    </div>
                </li>
            </ul>
            <div class="navbar-nav ml-auto">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_JOURNALIST') %}
                        <a class="nav-link" href="{{ path("post_create") }}">Rédiger un article</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-link" href="{{ path("admin_dashboard") }}">Administration</a>
                    {% endif %}
                    <a class="nav-link text-danger" href="{{ path("app_logout") }}">Déconnexion</a>
                {% else %}
                    <a class="nav-link" href="{{ path("user_register") }}">Inscription</a>
                    <a class="nav-link" href="{{ path("app_login") }}">Connexion</a>
                {% endif %}
                    <a class="nav-link" href="{{ path("contact_contact") }}">Contact</a>
            </div>
        </div>
    </div>
</nav>
